nodered-flow.json
[
  {
    "id": "b80fb41ff4f89e09",
    "type": "inject",
    "z": "3af070e7bccd95c1",
    "name": "Incoming TAG",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"TAG\":\"AA14B4V\"}",
    "payloadType": "json",
    "x": 90,
    "y": 420,
    "wires": [["3ffa8d23b1660a2c"]]
  },
  {
    "id": "7b27c308aa2758e6",
    "type": "exec",
    "z": "3af070e7bccd95c1",
    "command": "/Users/luciano/Documents/sivrg-fceia/ConvALPR/SIVRG_TEST.sh",
    "addpay": "",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 520,
    "y": 340,
    "wires": [["3d329fadb29665ee", "e163fb064ffe65b7"], [], []]
  },
  {
    "id": "3ffa8d23b1660a2c",
    "type": "function",
    "z": "3af070e7bccd95c1",
    "name": "Lector RFID",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 270,
    "y": 420,
    "wires": [["0b85298c5a404012", "8cf23218dc4dce16", "e163fb064ffe65b7"]]
  },
  {
    "id": "9f3d2fd94ba2a424",
    "type": "switch",
    "z": "3af070e7bccd95c1",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 610,
    "y": 420,
    "wires": [["7b27c308aa2758e6"]]
  },
  {
    "id": "3d329fadb29665ee",
    "type": "debug",
    "z": "3af070e7bccd95c1",
    "name": "SHOW_PLATE",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 320,
    "wires": []
  },
  {
    "id": "0b85298c5a404012",
    "type": "function",
    "z": "3af070e7bccd95c1",
    "name": "IS_VALID_TAG?",
    "func": "if (msg.payload.TAG){\n    return {payload: true};\n}\nelse{\n    return {payload: false}\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 420,
    "wires": [["9f3d2fd94ba2a424"]]
  },
  {
    "id": "8cf23218dc4dce16",
    "type": "debug",
    "z": "3af070e7bccd95c1",
    "name": "SHOW TAG",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 450,
    "y": 460,
    "wires": []
  },
  {
    "id": "07f117cdb521f28f",
    "type": "debug",
    "z": "3af070e7bccd95c1",
    "name": "SHOW_VALIDATION",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 980,
    "y": 560,
    "wires": []
  },
  {
    "id": "e163fb064ffe65b7",
    "type": "join",
    "z": "3af070e7bccd95c1",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "payload",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 790,
    "y": 560,
    "wires": [["07f117cdb521f28f"]]
  },
  {
    "id": "75dd183bc569abdf",
    "type": "function",
    "z": "3af070e7bccd95c1",
    "name": "IS_VALID_TAG?",
    "func": "let items = msg.payload.split();\nitems[2]",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 600,
    "wires": [[]]
  }
]
